:root {
    --body-background: #ffc600;
    --roof-background: #0000ff;
    --roof-angle-color: blue;
    --window-background: #468aaa;
    --window-border-color: #0000ff;
    --door-background: blue;
}

body {
    background: var(--body-background);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, ul li {
    color: white;
}
  
.container {
    height: 450px;
    width: 400px;
    position: relative;
}
  
.container * {
    position: absolute;
}

/* the square */
.house {
    top: 50%;
    left: 75px;
    height: 200px;
    width: 260px;
    background: #FFF;
}
  
/* the roof */
.house::before {
    content: '';
    position: absolute;
    top: -95px;
    left: 33px;
    height: 183px;
    width: 183.5px;
    background: var(--roof-background);
    transform: rotate(45deg);
    border-top: 10px solid var(--roof-angle-color);
    border-left: 10px solid var(--roof-angle-color);
    z-index: -1;
}

/* the window */
.window {
    top: 35px;
    left: 25px;
    height: 80px;
    width: 70px;
    background: var(--window-background);
    z-index: 3;
    border-top: 7px solid var(--window-border-color);
}

/* the door */  
.door {
    top: 70px;
    left: 150px;
    height: 130px;
    width: 70px;
    background: var(--door-background);
    z-index: 3;
}
  
.door::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid #FFF;
    background: #96ebff;
}